<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Login</h2>

<form method="post" action="/login">
    <label>Username:
        <input type="text" name="username" required/>
    </label><br/>

    <label>Password:
        <input type="password" name="password" required/>
    </label><br/>
    <p>
        <button type="submit">Login</button>
        <a href="/register">
            <button type="button">Register</button>
        </a>
    </p>
</form>
<div th:if="${param.error}">
    <p style="color: red;">Invalid username or password.</p>
</div>
</body>
</html>
